@media (max-width: 800px) {
  body {
    width: 100%;
  }

  /* Nav */

  nav {
    background-color: #09521d96;
  }
  .nav-principal .nav-title a {
    font-size: 8vw;
  }
  .mobile-lighter {
    font-weight: lighter;
  }
  .menu-mobile {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .bar-menu {
    border-bottom: 5px solid #89f7a6;
    margin-bottom: 1.4vw;
    margin-top: 1.4vw;
    width: 9vw;
  }
  .nav-items {
    display: none;
  }
  .background-mobiles {
    background-image: url("./background.jpg");
    background-size: 140%;
  }
  /* Section welcome */
  .section-welcome {
    background: none;
    display: block;
    height: 100%;
    padding: 0;
  }
  .paragraph-welcome {
    background-color: none;
    font-size: 3.8vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4vw 0vw 9vw 0vw;
    padding-bottom: 20vw;
    width: 90%;
  }
  .paragraph-welcome span {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  /* price */
  .contenedor-precio {
    background: white;
    padding: 1vw 8vw;
  }
  .precioDolarPrincipal {
    background-color: rgb(212, 252, 233);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: -17vw;
    padding-bottom: 6vw;
    width: 90%;
  }
  .tipo-precio {
    display: grid;
    grid-template-columns: 25% 30% 35%;
  }
  .container-compra-venta {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
  }

  .tabla-precio span {
    font-size: 5vw;
    margin-bottom: 2 1vw;
  }
  .tabla-titulo {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .tipo-precio {
    font-size: 1vw;
    column-gap: 0;
    margin: 0;
  }
  .tipo-precio span {
    font-size: 5vw;
    padding: 0.5vw 1vw;
  }
  .precio-numero {
    margin-bottom: 0vw;
  }
  .precio-numero {
    font-size: 6vw;
    font-weight: 600;
  }
  .venta {
    margin-left: 0;
  }

  .fecha-actualizado {
    color: black;
    font-size: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  /* weekly chart */
  .grafico-semana img {
    width: 100%;
  }
  /* sections */
  .sombreado {
    width: 100%;
  }
  .contenedor-articulos {
    background-color: white;
  }
  article {
    background-color: white;
  }

  .articulo-conversor {
    background-color: white;
  }
  .articulo-conversor p {
    width: 90%;
  }
  .contenedor-convertidores {
    background-color: white;
    display: block;
  }
  .conversor {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vw;
    text-align: center;

    width: 90%;
  }
  .conversor h5 {
    margin-top: 3vw;
  }
  .conversor h3 {
    margin-bottom: 5vw;
  }
  .conversor input {
    font-size: 6vw;
    margin: 2vw 0 2vw;
    width: 100%;
  }
  .container-label {
    margin-left: auto;
    text-align: left;
    width: 100%;
  }

  .Container-calcular-conversor {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .calcular-conversor {
    padding: 0.8vw 1vw;
  }

  /* Weekly chart */
  .grafico-semana {
    padding: 0 5vw;
    text-align: center;
  }
  .grafico-semana h3 {
    font-size: 4vw;
    font-weight: bolder;
  }
  .grafico-semana img {
    width: 90%;
  }
  .precio-por-provincia {
    margin-top: 6vw;
  }
  .precio-por-provincia h3 {
    font-size: 5vw;
    font-weight: bolder;
  }
  .parrafo-por-provincias {
    width: 80%;
  }
  .lista-provincias {
    padding: 2vw 2vw;
    width: 100%;
  }
  .lista-provincias a {
    font-size: 5vw;
    font-weight: normal;
  }

  .herramientas h2 {
    margin-top: 3vw;
    font-size: 7vw;
  }
  .herramientas p {
    font-weight: lighter;
    margin-top: 8vw;
    width: 90%;
  }
  .herramientas a {
    display: block;
    margin-top: 16vw;
    margin-bottom: 8vw;
  }
  .herramientas a button {
    padding: 2vw 4vw;
  }

  .divisas h3 {
    font-size: 6vw;
    font-weight: bolder;
  }
  .divisas span {
    font-size: 6vw;
    margin-top: 2vw;
  }
  .separador {
    display: none;
  }

  footer {
    display: none;
  }
}
