@media (max-width: 800px) {
  body {
    width: 100%;
  }

  /* Nav */

  nav {
    background-color: #09521d96;
  }
  .nav-principal .nav-title a {
    font-size: 8vw;
  }
  .mobile-lighter {
    font-weight: lighter;
  }
  .menu-mobile {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .bar-menu {
    border-bottom: 5px solid #89f7a6;
    margin-bottom: 1.4vw;
    margin-top: 1.4vw;
    width: 9vw;
  }
  .nav-items {
    display: none;
  }
  .background-mobiles {
    background-image: url("./background.jpg");
    background-size: 140%;
  }
  /* Section welcome */
  .section-welcome {
    background: none;
    display: block;
    height: 100%;
    padding: 0;
  }
  .paragraph-welcome {
    background-color: none;
    font-size: 3.8vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4vw 0vw 9vw 0vw;
    padding-bottom: 20vw;
    width: 90%;
  }
  .paragraph-welcome span {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  /* price */
  .contenedor-precio {
    background: white;
    padding: 1vw 8vw;
  }
  .precioDolarPrincipal {
    background-color: rgb(212, 252, 233);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: -17vw;
    padding-bottom: 6vw;
    width: 90%;
  }
  .tipo-precio {
    display: grid;
    grid-template-columns: 25% 30% 35%;
  }
  .container-compra-venta {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
  }

  .tabla-precio span {
    font-size: 5vw;
    margin-bottom: 2 1vw;
  }
  .tabla-titulo {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .tipo-precio {
    font-size: 1vw;
    column-gap: 0;
    margin: 0;
  }
  .tipo-precio span {
    font-size: 5vw;
    padding: 0.5vw 1vw;
  }
  .precio-numero {
    margin-bottom: 0vw;
  }
  .precio-numero {
    font-size: 6vw;
    font-weight: 600;
  }
  .venta {
    margin-left: 0;
  }

  .fecha-actualizado {
    color: black;
    font-size: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  /* weekly chart */
  .grafico-semana img {
    width: 100%;
  }
  /* sections */
  .sombreado {
    width: 100%;
  }
  .contenedor-articulos {
    background-color: white;
  }
  article {
    background-color: white;
  }

  .articulo-conversor {
    background-color: white;
  }
  .articulo-conversor p {
    width: 90%;
  }
  .contenedor-convertidores {
    background-color: white;
    display: block;
  }
  .conversor {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vw;
    text-align: center;

    width: 90%;
  }
  .conversor h5 {
    margin-top: 3vw;
  }
  .conversor h3 {
    margin-bottom: 5vw;
  }
  .conversor input {
    font-size: 6vw;
    margin: 2vw 0 2vw;
    width: 100%;
  }
  .container-label {
    margin-left: auto;
    text-align: left;
    width: 100%;
  }

  .Container-calcular-conversor {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .calcular-conversor {
    padding: 0.8vw 1vw;
  }

  /* Weekly chart */
  .grafico-semana {
    padding: 0 5vw;
    text-align: center;
  }
  .grafico-semana h3 {
    font-size: 4vw;
    font-weight: bolder;
  }
  .grafico-semana img {
    width: 90%;
  }
  .precio-por-provincia {
    margin-top: 6vw;
  }
  .precio-por-provincia h3 {
    font-size: 5vw;
    font-weight: bolder;
  }
  .parrafo-por-provincias {
    width: 80%;
  }
  .lista-provincias {
    padding: 2vw 2vw;
    width: 100%;
  }
  .lista-provincias a {
    font-size: 5vw;
    font-weight: normal;
  }

  .herramientas h2 {
    margin-top: 3vw;
    font-size: 7vw;
  }
  .herramientas p {
    font-weight: lighter;
    margin-top: 8vw;
    width: 90%;
  }
  .herramientas a {
    display: block;
    margin-top: 16vw;
    margin-bottom: 8vw;
  }
  .herramientas a button {
    padding: 2vw 4vw;
  }

  .divisas h3 {
    font-size: 6vw;
    font-weight: bolder;
  }
  .divisas span {
    font-size: 6vw;
    margin-top: 2vw;
  }
  .separador {
    display: none;
  }
  /* footer */
  footer {
    padding-top: 3vw;
  }
  .compartir span {
    font-size: 5vw;
    margin-top: 3vw;
    padding: 1.5vw 2.5vw;
    width: 100%;
  }
  .copyright {
    display: block;
    font-size: 3vw;
    margin-top: 6vw;
  }
  .copyright br {
    display: none;
  }
  .nav-footer {
    margin-top: 3vw;
    margin-bottom: 6vw;
  }
  .nav-item-footer li {
    font-size: 4.5vw;
    margin-left: 2vw;
  }
  .contactanos-footer {
    margin-top: 2vw;
  }
  .contactanos-footer p {
    font-size: 3vw;
  }
  .contactanos-footer button {
    font-size: 4vw;
    margin-bottom: 3vw;
    width: 60%;
  }

  /* contacto */
  .header-secundario {
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw 2vw 3vw;
  }
  .nav-contenedor-secundaria {
    display: none;
  }
  .header-secundario a {
    align-items: center;
    color: #89f7a6;
    display: flex;
    font-size: 9vw;
    justify-content: center;
    font-weight: bolder;
  }
  .bms {
    border: 3px solid #69f88f;
    width: 11vw;
  }
  .contenedor-contacto {
    padding: 0;
  }
  .contenedor-contacto form input,
  .articulo-enlaces form input {
    font-size: 4vw;
    padding: 1vw 2vw;
  }
  .contenedor-contacto form h5,
  .articulo-enlaces form h5 {
    font-weight: bold;
    margin-top: 6vw;
    margin-bottom: 3vw;
  }
  .contenedor-contacto textarea,
  .articulo-enlaces form textarea {
    font-size: 4vw;
    height: 40vw;
  }
  .enviar-navegador {
    display: none;
  }
  .enviar-mobile {
    text-align: center;
  }
  .enviar-mobile button {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 80%;
  }
  .articulo-contacto {
    display: block;
    padding: 0;
    padding-top: 4vw;
    padding-bottom: 18vw;
  }
  form {
    margin-top: 3vw;
  }
  /* webmaster */
  .articulo-webmaster h3 {
    font-size: 6vw;
    margin-top: 3vw;
  }
  .articulo-webmaster h4 {
    font-size: 5vw;
    font-weight: 400;
  }
  .articulo-webmaster p {
    margin-top: 6vw;
    width: 90%;
  }
  .boldMobile {
    font-weight: bolder;
  }
  .cotizadorCubo {
    margin: 4vw auto 4vw auto;
  }
  .code-cotizador {
    width: 100%;
  }
  .cotizadorChico {
    margin-right: 20vw;
    text-align: left;
  }
  .cotizadorChico img {
    width: 100%;
  }
  .code-conversor {
    width: 90%;
  }
  .advertencia {
    width: 90%;
  }
  .articulo-enlaces form {
    text-align: left;
    width: 90%;
  }
  .articulo-enlaces p {
    margin-top: 5vw;
    text-align: left;
    width: 90%;
  }
  .section-terminos h3 {
    font-size: 7vw;
  }

  /* Menu */
  .nav-items-mobile {
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 37vw;
    position: absolute;
    width: 60vw;
    z-index: 1;
  }
  .nav-item {
    color: black;
    display: block;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1vw;
    padding: 2vw 0vw;
    text-transform: capitalize;
  }
  .indice {
    font-size: 5vw;
  }
  .emoji {
    display: block;
    font-size: 3vw;
  }
  .logo-nav {
    color: #09521c;
    font-weight: bolder;
    text-align: center;
    text-transform: none;
  }
}
